<div class="upgrades-container">
  <div fxLayout="row" fxLayoutAlign="space-around center" fxLayout="20px">
    <div fxLayout="column" fxLayoutGap="20px">
      <app-cash-upgrade [upgrade]="data.upgrades.pallier[0]"></app-cash-upgrade>
      <app-cash-upgrade [upgrade]="data.upgrades.pallier[1]"></app-cash-upgrade>
      <app-cash-upgrade [upgrade]="data.upgrades.pallier[2]"></app-cash-upgrade>
      <div fxLayout="column" fxLayoutGap="20px">
        <app-cash-upgrade [upgrade]="data.upgrades.pallier[3]"></app-cash-upgrade>
        <app-cash-upgrade [upgrade]="data.upgrades.pallier[4]"></app-cash-upgrade>
        <app-cash-upgrade [upgrade]="data.upgrades.pallier[5]"></app-cash-upgrade>
      </div>
    </div>
