<div class="unlocks-container">
  <div fxLayout="row" fxLayoutAlign="space-around center" fxLayout="20px">
    <div fxLayout="column" fxLayoutGap="20px">
      <app-unlock [unlock]="data.allunlocks.pallier[0]"></app-unlock>
      <app-unlock [unlock]="data.allunlocks.pallier[1]"></app-unlock>
      <app-unlock [unlock]="data.allunlocks.pallier[2]"></app-unlock>
    </div>
    </div>
