<mat-card class="card" >
    <mat-card-header >
        <div mat-card-avatar>
            <img class="icon" src={{imageUrl+upgradeP.logo}}>
          </div>
      <mat-card-title>{{upgradeP.name}}</mat-card-title>
      <mat-card-subtitle>Augmentation : {{upgradeP.ratio}} - Quantité nécessaire : {{upgradeP.seuil}}</mat-card-subtitle>
     </mat-card-header>
    <mat-card-actions>
      <button mat-raised-button color="primary"  *ngIf="!upgradeP.unlocked" [disabled]="!isBuyable">Buy !</button>
      <!--  (click)="hireManager()" -->
    </mat-card-actions>
  </mat-card>