<pre>{{data.money}}</pre>
<div class="managers-container">
  <div fxLayout="row" fxLayoutAlign="space-around center" fxLayout="20px">
    <div fxLayout="column" fxLayoutGap="20px">
      <app-manager [manager]="data.managers.pallier[0]" [money]="data.money" (notifyMoney)="onMoneyChange($event)" (notifyUnlock)="onManagerUnlocked($event, 0)">
      </app-manager>
      <app-manager [manager]="data.managers.pallier[1]" [money]="data.money" (notifyMoney)="onMoneyChange($event)" (notifyUnlock)="onManagerUnlocked($event, 1)">
      </app-manager>
      <app-manager [manager]="data.managers.pallier[2]" [money]="data.money" (notifyMoney)="onMoneyChange($event)" (notifyUnlock)="onManagerUnlocked($event, 2)">
      </app-manager>
    </div>
    <div fxLayout="column" fxLayoutGap="20px">
      <app-manager [manager]="data.managers.pallier[3]" [money]="data.money" (notifyMoney)="onMoneyChange($event)" (notifyUnlock)="onManagerUnlocked($event, 3)">
      </app-manager>
      <app-manager [manager]="data.managers.pallier[4]" [money]="data.money" (notifyMoney)="onMoneyChange($event)" (notifyUnlock)="onManagerUnlocked($event, 4)">
      </app-manager>
      <app-manager [manager]="data.managers.pallier[5]" [money]="data.money" (notifyMoney)="onMoneyChange($event)" (notifyUnlock)="onManagerUnlocked($event, 5)">
      </app-manager>
    </div>
  </div>
