<mat-card class="card" >
  <mat-card-header >
      <div mat-card-avatar>
          <img class="icon" src={{imageUrl+unlockP.logo}}>
        </div>
    <mat-card-title>{{unlockP.name}}</mat-card-title>
    <mat-card-subtitle>Type : {{unlockP.typeratio}} - Augmentation : {{unlockP.ratio}} - Quantité nécessaire : {{unlockP.seuil}}</mat-card-subtitle>
   </mat-card-header>
  <mat-card-actions>
    <!-- <button mat-raised-button color="primary"  *ngIf="!unlockP.unlocked" [disabled]="!isBuyable" (click)="hireManager()">Hire !</button> -->
  </mat-card-actions>
</mat-card>