<mat-card class="example-card" >
  <mat-card-header >
    <div mat-card-avatar>
      <img class="icon" src={{imageUrl+managerP.logo}}>
    </div>
    <mat-card-title>{{managerP.name}}</mat-card-title>
    <mat-card-subtitle>Coût : {{managerP.seuil}}</mat-card-subtitle>
   </mat-card-header>
  <mat-card-actions>
    <button mat-raised-button color="primary"  *ngIf="!managerP.unlocked" [disabled]="!isBuyable" (click)="hireManager()">Hire !</button>
  </mat-card-actions>
</mat-card>
