<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{world.name}} - {{world.money | bigvalue}}</span>
    <button mat-button (click)="openAllUnlockDialog()">AllUnlocks</button>
    <button mat-button (click)="openUnlockDialog()">Unlocks</button>
    <button mat-button (click)="openCashUpgradeDialog()">Cash Upgrades</button>
    <button mat-button>Angel Upgrades</button>
    <button mat-button matBadge="!!" [matBadgeHidden]="isManagerBuyable()" matBadgePosition="before" matBadgeColor="primary" (click)="openManagerDialog()">Managers</button>
    <button mat-button>Investors</button>
    <mat-form-field class="user">
      <input matInput placeholder="Utilisateur" type="text" [(ngModel)]="username" (change)="onUsernameChanged()">
    </mat-form-field>
  </mat-toolbar-row>

</mat-toolbar>

<div class="sub-header">
  {{world.money}} $ - <button mat-fab (click)="switchValue()" color="primary">{{qtmulti}}</button>
</div>
<div class="products-container">
  <div fxLayout="row" fxLayoutAlign="space-around center" fxLayout="20px">
    <div fxLayout="column" fxLayoutGap="20px">
      <app-product [qtmulti]="qtmulti" [money]="world.money" [prod]="world.products.product[0]"
        (notifyProduction)="onProductionDone($event)" (notifyMoney)="onMoneyChange($event)" (notifyBuy)="onBuyProduct($event)">
      </app-product>
      <app-product [qtmulti]="qtmulti" [money]="world.money" [prod]="world.products.product[1]"
        (notifyProduction)="onProductionDone($event)" (notifyMoney)="onMoneyChange($event)" (notifyBuy)="onBuyProduct($event)">
      </app-product>
      <app-product [qtmulti]="qtmulti" [money]="world.money" [prod]="world.products.product[2]"
        (notifyProduction)="onProductionDone($event)" (notifyMoney)="onMoneyChange($event)" (notifyBuy)="onBuyProduct($event)">
      </app-product>
    </div>
    <div fxLayout="column" fxLayoutGap="20px">
      <app-product [qtmulti]="qtmulti" [money]="world.money" [prod]="world.products.product[3]"
        (notifyProduction)="onProductionDone($event)" (notifyMoney)="onMoneyChange($event)" (notifyBuy)="onBuyProduct($event)">
      </app-product>
      <app-product [qtmulti]="qtmulti" [money]="world.money" [prod]="world.products.product[4]"
        (notifyProduction)="onProductionDone($event)" (notifyMoney)="onMoneyChange($event)" (notifyBuy)="onBuyProduct($event)">
      </app-product>
      <app-product [qtmulti]="qtmulti" [money]="world.money" [prod]="world.products.product[5]"
        (notifyProduction)="onProductionDone($event)" (notifyMoney)="onMoneyChange($event)" (notifyBuy)="onBuyProduct($event)">
      </app-product>
    </div>
  </div>
</div>
