<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar>
      <img class="icon" (click)="startFabrication()" src={{imageUrl+product.logo}}>
    </div>
    <mat-card-title>{{product.name}}</mat-card-title>
    <mat-card-subtitle>Quantité : {{product.quantite}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    Revenu : {{quantityGain | bigvalue}}
    <div class="progress" #bar> </div>
    
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>{{nbProduit}}</button>
    <span> {{totalPrice | bigvalue}} </span>
    <button mat-raised-button color="primary" [disabled]="!isBuyable" (click)="OnBuy()">Acheter</button>
  </mat-card-actions>
</mat-card>
