<mat-dialog-content>
  <div class="unlocks-container">
    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayout="20px" class="first-row">
      <div fxLayout="column" fxLayoutGap="20px" class="first-column">
        <div>{{data.products.product[0].name}} : </div>
        <app-product-unlock *ngIf="!data.products.product[0].palliers.pallier[0].unlocked" [unlock]="data.products.product[0].palliers.pallier[0]">
        </app-product-unlock>
        <app-product-unlock *ngIf="!data.products.product[0].palliers.pallier[1].unlocked" [unlock]="data.products.product[0].palliers.pallier[1]">
        </app-product-unlock>
        <app-product-unlock *ngIf="!data.products.product[0].palliers.pallier[2].unlocked" [unlock]="data.products.product[0].palliers.pallier[2]">
        </app-product-unlock>
      </div>
      <div fxLayout="column" fxLayoutGap="20px" class="second-column">
        <div>{{data.products.product[1].name}} : </div>
        <app-product-unlock *ngIf="!data.products.product[1].palliers.pallier[0].unlocked" [unlock]="data.products.product[1].palliers.pallier[0]">
        </app-product-unlock>
        <app-product-unlock *ngIf="!data.products.product[1].palliers.pallier[1].unlocked" [unlock]="data.products.product[1].palliers.pallier[1]">
        </app-product-unlock>
        <app-product-unlock *ngIf="!data.products.product[1].palliers.pallier[2].unlocked" [unlock]="data.products.product[1].palliers.pallier[2]">
        </app-product-unlock>
      </div>

      <div fxLayout="column" fxLayoutGap="20px" class="third-column">
        <div>{{data.products.product[2].name}} : </div>
        <app-product-unlock *ngIf="!data.products.product[2].palliers.pallier[0].unlocked" [unlock]="data.products.product[2].palliers.pallier[0]">
        </app-product-unlock>
        <app-product-unlock *ngIf="!data.products.product[2].palliers.pallier[1].unlocked" [unlock]="data.products.product[2].palliers.pallier[1]">
        </app-product-unlock>
        <app-product-unlock *ngIf="!data.products.product[2].palliers.pallier[2].unlocked" [unlock]="data.products.product[2].palliers.pallier[2]">
        </app-product-unlock>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center" fxLayout="20px">
    <div fxLayout="column" fxLayoutGap="20px">
      <div>{{data.products.product[3].name}} : </div>
      <app-product-unlock *ngIf="!data.products.product[3].palliers.pallier[0].unlocked" [unlock]="data.products.product[3].palliers.pallier[0]">
      </app-product-unlock>
      <app-product-unlock *ngIf="!data.products.product[3].palliers.pallier[1].unlocked" [unlock]="data.products.product[3].palliers.pallier[1]">
      </app-product-unlock>
      <app-product-unlock *ngIf="!data.products.product[3].palliers.pallier[2].unlocked" [unlock]="data.products.product[3].palliers.pallier[2]">
      </app-product-unlock>
    </div>

    <div fxLayout="column" fxLayoutGap="20px">
      <div>{{data.products.product[4].name}} : </div>
      <app-product-unlock *ngIf="!data.products.product[4].palliers.pallier[0].unlocked" [unlock]="data.products.product[4].palliers.pallier[0]">
      </app-product-unlock>
      <app-product-unlock *ngIf="!data.products.product[4].palliers.pallier[1].unlocked" [unlock]="data.products.product[4].palliers.pallier[1]">
      </app-product-unlock>
      <app-product-unlock *ngIf="!data.products.product[4].palliers.pallier[2].unlocked" [unlock]="data.products.product[4].palliers.pallier[2]">
      </app-product-unlock>
    </div>

    <div fxLayout="column" fxLayoutGap="20px">
      <div>{{data.products.product[5].name}} : </div>
      <app-product-unlock *ngIf="!data.products.product[5].palliers.pallier[0].unlocked" [unlock]="data.products.product[5].palliers.pallier[0]">
      </app-product-unlock>
      <app-product-unlock *ngIf="!data.products.product[5].palliers.pallier[1].unlocked" [unlock]="data.products.product[5].palliers.pallier[1]">
      </app-product-unlock>
      <app-product-unlock *ngIf="!data.products.product[5].palliers.pallier[2].unlocked" [unlock]="data.products.product[5].palliers.pallier[2]">
      </app-product-unlock>
    </div>
  </div>
</mat-dialog-content>
